@import url('https://fonts.googleapis.com/css?family=Anton|Slabo+27px');

.bgcolor1
{
  /* background-color: #f76262;
  color: #f76262; */
  background: #435671!important;
}

body
{
  background: #12243E!important; 
}
.bgcolor2
{
  background: #12243E!important;
}
.bgcolor3
{
  background: #161C25!important;
}
.bgcolor4
{
  background-color: #0F1319!important;
}

.color1
{
  color: #435671!important;
}
.color2
{
  color: #12243E!important;
}
.color3
{
  color: #161C25!important;
}
.color4
{
  color: #0F1319!important;
}
.whitecolor
{
  color: #fff!important
}
.timesnewroman
{
  font-family: times-new roman!important;
}

.description{
  font-family: 'Slabo 27px', serif!important;
  padding: 15px!important;
  line-height: 2;
}

.titleaboutme{
  font-family: 'Anton', sans-serif!important;
      font-size: 45px!important;
}

.Slabo
{
  font-family: 'Slabo 27px', serif!important;  
}

.anton
{
   font-family: 'Anton', sans-serif!important;
}

.poini
{
      position: initial!important;
}
.padding25
{
      padding: 25px;
}
.padding5
{
      padding: 25px;
}
.padding4
{
      padding: 4px;
}
.borderleft
{
  border-color: darkgreen;
  border-width: 1px;
  border-style: solid;
  border-left: black;
  border-bottom: none;
  border-top: none;
}
.padding120
{
  padding: 120px;
}
.paddinto100
{
  padding-top: 100px;
}
.paddinto10
{
  padding-top: 10px;
}

.headerindex
{
    height : 100vh;
}
@media screen 
  and (max-width: 640px)
   {
    .headerindex {
       height: 130vh;
}
}

.header
{
    height : 100vh;
}


.heightmovil
{
    height : 100vh;
}

.aboutme
{
      border-color: #fff;
      border-radius: 2px;
      border-width: 1px;
      border-style: groove;
}

@media screen 
  and (max-width: 1300px)
   {
    .heightmovil {
       height: 200vh;
}
}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
   {
    .heightmovil {
       height: 270vh;
}
}
@media screen 
  and (max-width: 660px)
   {
    .heightmovil {
       height: 200vh;
}
}
@media screen 
  and (max-width: 640px)
   {
    .heightmovil {
       height: 270vh;
}
}
@media screen 
  and (max-width: 630px)
   {
    .noneborderleft 
    {
      border: none!important;
  }
}
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}